# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.python_history
.bash_history

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
app/assets/*

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# sublime text
*.sublime-workspace

.DS_Store

# databases
*.sqlite3

#Vagrant
.vagrant/
.tmp/
modules/

.librarian/
Puppetfile.lock
*.deb
.tmp/
modules/

# PyCHarm
.idea/
